asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
finank @ git+https://github.com/fakanakavera/finank.git@main#egg=finank
fnkauth @ git+https://github.com/fakanakavera/fnkauth.git@main#egg=fnkauth
fnkutils @ git+https://github.com/fakanakavera/fnkutils.git@main#egg=fnkutils
idna==3.7
metate @ git+https://github.com/fakanakavera/mtt.git@main#egg=metate
metate2 @ git+https://github.com/fakanakavera/metate2.git@main#egg=metate
pillow==10.4.0
PyJWT==2.8.0
PyYAML==6.0.1
requests==2.32.3
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
